/disabled mods/
/.idea/
/mods/
/resourcepacks/Emis_Rlcraft.zip
/resourcepacks/AnimEmis_srparasites.zip
/resourcepacks/Kosmolot's Colored Subtitles 1.12.2+20230506.zip
/resourcepacks/MekanismInfuseTypes.zip
