# Configuration file

category_background {
    # The RGB red value (in decimals) for the subtitle's background.
    I:backgroundRed=0

    # The RBGA green value (in decimals) for the subtitle's background.
    I:backgroundGreen=0

    # The RBGA blue value (in decimals) for the subtitle's background.
    I:backgroundBlue=0

    # The RBGA alpha value (in decimals) for the subtitle's background.
    I:backgroundAlpha=255
}


category_font {
    # The RGB red value (in decimals) for the subtitle's background.
    I:fontRed=255

    # The RGB green value (in decimals) for the subtitle's background.
    I:fontGreen=255

    # The RGB blue value (in decimals) for the subtitle's background.
    I:fontBlue=255
}


category_general {
    # Whether to visually show the subtitles or not. This does not disable them.
    B:showSubtitles=true

    # The scale that the subtitles should be rendered at.
    D:subtitleScale=1.0

    # Locks dragging of the subtitles while in the config GUI. Position can still be changed manually through the configuration.
    B:lockPosition=false
}


category_position {
    # The position for the subtitle overlay.
    # Acceptable values: BOTTOM_RIGHT, BOTTOM_CENTER, BOTTOM_LEFT, CENTER_LEFT, TOP_LEFT, TOP_CENTER, TOP_RIGHT, CENTER_RIGHT
    S:overlayPosition=BOTTOM_RIGHT

    # The offset of the subtitle's position on the X axis.
    I:xOffset=0

    # The offset of the subtitle's position on the Y axis.
    I:yOffset=0
}


