# Configuration file

client {
    # Sets the color of active resource pack list. Valid value is a single lowercase hexadecimal character (0 to f) where '0' is black and 'f' is white [default: f]
    S:displayColor=f

    # Sets the position of active resource pack list on the screen. Valid values are: disabled, top left, top right, bottom right, bottom left [default: disabled]
    S:displayPosition=disabled

    # Internal list of enabled resource packs.
    S:enabledPacks <
        Kosmolot's Colored Subtitles 1.12.2+20230506.zip
        Levviata's No Tree Punching Modernized v1.4.zip
        MekanismInfuseTypes.zip
        Emis_Rlcraft.zip
        AnimEmis_srparasites.zip
        Levviata's-Spartan-Weaponry-Retexture.zip
     >
}


